.blogItem-wrap-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

}

.blogItem-wrap-1:hover {
  border: 1px solid #eb9823;
}
.blogItem-1-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}
/* .blogItem-1-wrap h3 {
  margin: 0.5rem 0 1rem 0;
  flex: 1;
} */

.left-element {
padding-right: 25px;
}

.community-title h3 {
  padding-bottom: 10px;
  font-size: 22px;
  
}

.community-title {
  padding-bottom: 30px;
}

.blogItem-1-desc {
  position: relative;
  max-height: 50px;
  overflow: hidden;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #a9a9a9;
}

.blogItem-1-desc::before {
  position: absolute;
  content: "...";
  bottom: 0;
  right: 0;
}

.blogItem-1-wrap footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.blogItem-1-link {
  text-decoration: none;
  color: inherit;
}

.blogItem-1-author {
  display: flex;
  align-items: center;
}

.blogItem-author-1 {
  font-size: 12px;
  
}



.join-button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  margin-top: 80px;
  cursor: pointer;
  text-transform: uppercase;
}



.join-button:hover {
  background-color: #eb9823;
}

.community-title {}


.blogItem-wrap-1 h3{
  color: black;
}

.location{
  /* color: grey; */
  font-size: 15px;
  color: #eb9823;
}