@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

.community-home-1 {
  display: flex;

  flex-direction: column;
}

.header-wrapper-1 {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  height: 20vh;

  width: 100%;

  background: #f6f6f6;

  color: #000;

  text-align: center;

  padding: 0 1rem;

  font-weight: 700;
}
.header-content {
  display: flex;

  justify-content: space-between;

  align-items: center;

  width: 100%;

  max-width: 1200px; /* Adjust this value according to your layout */

  margin: 0 auto;

  padding: 10px;

  position: relative;
}

.header-content::before {
  content: "";

  display: block;

  position: absolute;

  left: 0;

  top: 50%;

  width: 100%;

  height: 1px;

  background-color: #ccc; /* Change this color to match your design */

  z-index: -1;
}

.mycomm-button {
  background-color: green; /* Change this color to match your theme */

  border: none;

  color: white;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 16px;

  margin: 4px 2px;

  cursor: pointer;

  border-radius: 4px;

  padding: 10px 20px;

  transition: background-color 0.3s ease;
}

.mycomm-button:hover {
  background-color: #45a049; /* Change this color to a slightly darker shade of your theme color */
}
