/* .blogItem-wrap {
  display: flex;
  flex-direction: column;
}


.blogItem-wrap h3 {
  margin: 0.5rem 0 1rem 0;
  flex: 1;
}

.blogItem-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.blogItem-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.product-details {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-name {
  font-size: 25px;
  font-weight: bold;
  
  margin: 0 0 10px 0;
}

.name-price {
  display: flex;
  justify-content: space-between;
}

.quantity {
  display: flex;
  margin: 10px 0px;
}

.price {
  margin: 0;
  font-size: 20px;
  color: rgba(32, 32, 32, 0.793);
  /* padding-right: 10px; */
}

.categories {
  display: flex;
  justify-content:flex-start;
  
}
.category {
  padding: 5px;
}

.price-value, .quantity-value {
  font-weight: bold;
  
}

.description {
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  max-height: 40px;
  color:#a9a9a9;
  padding-bottom: 10px; 
}

.votes-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100px;
}

.votes-container p {
  margin-right: 10px;
}

.upvote-container {
  display: flex;
  align-items: center;
}

.downvote-container {
  display: flex;
  align-items: center;
}

.vote-count {
  margin: 0;
  font-size: 18px;
  /* font-weight: bold; */
}

.upvote-icon, .downvote-icon {
  font-size: 20px;/* Replace with your desired color */
}

.blogItem-desc {
  position: relative;
  max-height: 40px;
  /* max-width: ; */
  overflow: hidden;
  padding-right: 0.6rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
  color: #a9a9a9;
}

.blogItem-desc::before {
  position: absolute;
  content: '...';
  font-size: 0.9rem;
  bottom: 0;
  right: 0;
}
/* 
.blogItem-wrap footer {
  /* display: flex; */
  /* align-items: center; */
  /* margin-bottom: 1rem; */
  /* justify-content: space-evenly;
  margin-bottom: 50px; */ 



.blogItem-link {
  text-decoration: none;
  color: inherit;
}

.blogItem-author {
  display: flex;
  align-items: center;
}

.blogItem-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.blogItem-author p {
  font-size: 0.6rem;
  color: #a9a9a9;
  font-weight: 600;
}


.product-cart {
    width: 100px;
    height: 30px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    /* margin: 10px; */
    cursor: pointer;
    
}
